<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding >
  <ion-searchbar showCancelButton=true (ionInput)="getMovies($event)"></ion-searchbar>

  <ion-list *ngFor="let data of displayData">

    <ion-card [routerLink]="'/detail/' + data.imdbID" routerDirection="forward">
        <img class="image-card" src="{{data.Poster}}" />
        <ion-card-content class="overlay-card">
          <div class="card-title">{{data.Title}}</div>
          <div class="subtitle">
            <div>{{data.Type}}</div>
            <div>{{data.Year}}</div>
          </div>
        </ion-card-content>
    </ion-card>

  </ion-list>

</ion-content>